<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>削除入力画面</title>
</head>
<body>
        <!-- ヘッダー -->
    <header>
        <h3>トップメニュー</h3>
        <!-- <p th:text = "${session.keyName} + 'さん'"></p>
         <p th:text = "${#temporals.format(session.keyDateTime,'yyyy/MM/dd　HH:mm:ss')}"></p> -->
    </header>

        <!-- メイン -->
    <main>
        <form action="/delete/check" method="post">
            <label for="id">ID</label>
            <input type="number" name="id">
            <input type="hidden" name="url" value="deleteForm">
            <input type="submit" value="確認">
        </form>
    </main>

         <!-- フッター -->
      <footer>
        <small>Copyright&copy; 2025JavaStudy TeamF</small>
      </footer>


</body>
</html>