<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>検索</title>
	<link rel="stylesheet" th:href="@{/search.css}">
</head>

<body>
	<!--ログイン中のユーザー表示-->
	<header>
		<h1>社員情報検索</h1>
		<p>
			ログインユーザー：<span th:text="${loginName}"></span><br>
			ログイン日時：<span th:text="${#temporals.format(loginDateTime,'yyyy-MM-dd HH:mm:ss')}"></span><br>
			社員ID：<span th:text="${loginId}"></span>
		</p>
	</header>
	<div class="nav-buttons">
		<a th:href="@{/main}" class="btn">メニュー</a>
		<a th:href="@{/entryForm}" class="btn">登録</a>
	</div>
	<!--検索フォーム-->
	<div class="container">
		<div class="search-form">
			<form th:action="@{/search/list}" th:object="${staff}" method="POST">
				<!-- ID入力欄 -->
				<div class="form-group">
					<label for="id">社員ID：</label>
					<input type="text" th:field="*{id}" />
					<!--バリデーションエラー表示-->
					<div th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="color:red" id="error1">
					</div>
				</div>

				<!-- 名前入力欄 -->
				<div class="form-group">
					<label for="name">社員名：</label>
					<input type="text" th:field="*{name}" />
				</div>
				<!-- 年齢入力欄 -->
				<div class="form-group">
					<label for="ageFrom">年齢：</label>
					<input type="number" th:field="*{ageFrom}" />
					<label for="ageTo">～</label>
					<input type="number" th:field="*{ageTo}" />
					<!--年齢エラーメッセージ-->
					<div th:if="${#fields.hasErrors('ageFrom')}" th:errors="*{ageFrom}" style="color:red"
						class="error2">
					</div>
					<div th:if="${#fields.hasErrors('ageTo')}" th:errors="*{ageTo}" style="color:red" class="error3">
					</div>
				</div>
				<!-- 開始日入力欄 -->
				<div class="form-group">
					<label for="startDate">開始日：</label>
					<input type="date" th:field="*{startDateFrom}" placeholder="From" />
					<label for="startDateTo">～</label>
					<input type="date" th:field="*{startDateTo}" placeholder="To" />
				</div>
				<!-- 終了日入力欄 -->
				<div class="form-group">
					<label for="endDate">終了日：</label>
					<input type="date" th:field="*{endDateFrom}" placeholder="From" />
					<label for="endDateTo">～</label>
					<input type="date" th:field="*{endDateTo}" placeholder="To" />
				</div>
				<!-- 送信ボタン -->
				<div class="form-buttons">
					<button type="submit" name="search" class="btn">検索</button>
					<button type="submit" name="clear" class="btn">クリア</button>
				</div>
			</form>
		</div>

		<!--検索結果数表示-->
		<p th:if="${resultCount != null}" th:text="'検索結果：' + ${resultCount}+'件'" style="font-weight:bold;"></p>

		<div th:if="${NoList != null}">
			<p th:text="${NoList}" style="color:red;"></p>
		</div>

		<!--検索結果-->
		<div class="search-result">
			<div th:if="${staffList != null}">
				<span th:text="${staffList.isEmpty() ? '0' : staffList.size()}">0</span>件
				<span th:if="${staffList.isEmpty()}" style="color:red;">検索結果がありません</span>
			</div>
			<!--			<form th:action="@{/search/list}" method="post">-->
			<!--				<input type="hidden" name="url" value="search/list" />-->
			<table border="1">
				<tr>
					<th>選択</th>
					<th id="aaa">社員ID</th>
					<th>名前</th>
					<th>年齢</th>
					<th>開始日</th>
					<th>終了日</th>
				</tr>
				<tr th:each="staff : ${staffList}">
					<td>
						<input type="checkbox" name="selectedIds" th:value="${staff.id}" />
					</td>
					<!-- 社員ID列 -->
					<td>
						<a th:if="${staff.id != null}" th:href="@{/updateForm(id=${staff.id})}"
							th:text="${staff.id}"></a>
						<span th:if="${staff.id == null}">登録されていません</span>
					</td>

					<!-- 名前列 -->
					<td th:text="${staff.name != null ? staff.name : '登録されていません'}"></td>

					<!-- 年齢列 -->
					<td th:text="${staff.age != null ? staff.age : '登録されていません'}"></td>

					<!-- 開始日列 -->
					<td th:text="${staff.startDate != null ? #temporals.format(staff.startDate, 'yyyy/MM/dd') : '---'}">
					</td>

					<!-- 終了日列 -->
					<td th:text="${staff.endDate != null ? #temporals.format(staff.endDate, 'yyyy/MM/dd') : '---'}">
					</td>
				</tr>
			</table>
			<button type="button" name="delete" class="btn" onclick="checkSelection()">削除</button>

			<!--</form>-->
		</div>
	</div>
	</div>
	<!--アラート表示-->
	<script>
		let msgs = [];
		["#error1", ".error2", ".error3"].forEach(sel => {
			let el = document.querySelector(sel);
			if (el && el.innerText.trim() !== "") {
				msgs.push(el.innerText);
			}
		});
		if (msgs.length) alert(msgs.join("\n"));

		//チェックボックス
		function checkSelection() {
			const checkboxes = document.querySelectorAll('input[name="selectedIds"]:checked');
			if (checkboxes.length === 0) {
				alert("削除対象を1件以上選択してください");
				return false; // フォーム送信をキャンセル
			}
			const ids = Array.from(checkboxes).map(cb => cb.value);

			//選択したIDを削除画面へ譲渡
			if (ids.length === 1) {
				const id = ids[0];
				window.location.href = '/delete/form?id=' + encodeURIComponent(id);
				return false;// フォーム送信をキャンセル
			}
			//複数選択はアラート
			if (ids.length > 1) {
				alert("削除は一件ずつ行ってください");
				return false;//フォーム送信をキャンセル
			}

			return true; // フォーム送信
		}
	</script>
	<script src="validation.js"></script>

	<!-- フッター -->
	<footer>
		<small>Copyright&copy; 2025JavaStudy TeamF</small>
	</footer>
</body>


</html>