<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>社員情報検索</title>
		<link rel="stylesheet" th:href="@{/css/search.css}">

</head>

<body>
	<table border="1">
		<tr>
			<th>社員ID</th>
			<th>社員名</th>
			<th>年齢</th>
			<th>開始日</th>
			<th>終了日</th>
		</tr>
		<tr th:each="staff : ${staff}">
			<td th:text="${staff.id}"></td>
			<td th:text="${staff.name}"></td>
			<td th:text="${staff.age}"></td>
<!--			<td th:text="${staff.startDate}"></td>-->
<!--			<td th:text="${staff.endDate}"></td>-->
		</tr>
	</table>
</body>

</html>